body{
  font-family: "Roboto", Arial, sans-serif;
  margin-top: 30px;
  background-color: #F2EEEC;
}
h1{
  margin:0;
  margin-bottom: 15px;
}
h2{
  margin: 0;
  margin-bottom: 5px;
  font-size: 1.3em;
  font-weight: 500;
}
h3{
  margin: 0;
  font-size: 1em;
  font-weight: 500;
}




.main-container{
  display: flex;
  justify-content: space-around;
}


/* DEGREE SCHEDULE */

.year-container{
  margin-bottom: 15px;
}
h2.year-title{
  margin-left: 2px;
}
.term-block-container{
  display: flex;
}

.term-block{
  margin: 2px;
  padding: 10px 15px;
  
  /* border: 1px solid black; */
  background-color: #D2E2C4;
  border-radius: 5px;

  width: 160px;
  height: 125px;
}



.course-block{
  width: 350px;
  margin: 20px 0;
  padding: 15px;
  border-radius: 10px;
  background-color: #D2E2C4;
}
.course-block .course-title{
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
}
.course-prereqs{
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 10px;
}
.course-prereqs span{
  font-weight: 400;
}
.course-input-container{
  margin-bottom: 8px;
}

